.notfound{
    position:relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2em;
    width: 37em;
    height: 32em;
    border-radius: 1em;
    background: rgb(75, 75, 75);
}

.img{
    width: 100%;
    height: 100%;
}

.h1{
    margin-top: 6rem;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}

#clear {
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    top: 16rem;
    width: 25rem;
    left: auto;
    right: auto;
}

.notfound-buttons{
    display:flex;
    flex-direction: row;
    margin-bottom: 2em;
    align-items: baseline;
}